body{
  font-family: sans-serif;

}
#result{
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 0 10px 0 #bbb;
  margin-bottom: 20px;font-size: 10px;
  line-height: 10px;
}

button{
  font-size: 25px;
  position: absolute;
  top: 230px;
  left: 50%;

}
